/* VAriables */
:root {
  --front-primary: #6b6b6b;
  --light: #fff;
  --borders: #e7e7e7;
  --hover-primary: #fafafa;
}

/**********************************************
  GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;  
}

/**********************************************
  TOP PART
**********************************************/
.container {
  text-align: center;
  padding-bottom: 40px;
}

.search-title {
  color: var(--front-primary);
  font-weight: 300;
  font-size: 46px;
  padding: 40px 0;
}

.search-field {
  border: 1px solid var(--borders);
  background-color: var(--light);
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  padding: 12px 15px;
  margin-right: 10px;
  border-radius: 5px;
  transition: border 0.3s;
}

.search-field { width: 400px;}

.select-type:focus,
.search-field:focus {
  outline: none;
  border: 1px solid #28b9a6;
}

.select-type {
  width: auto;
  border: 1px solid var(--borders);
  height: 44px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: var(--light);
  margin-right: 10px;
  border-radius: 5px;
  transition: border 0.3s;
}

/**********************************************
 User cards grid
**********************************************/

#users {
  padding: 0 40px 40px 40px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cards {
  border: 1px solid var(--borders);
  border-radius: 5px;
  padding: 20px 20px;
  transition: 0.3s;
  width:auto; 
}

.cards:hover {
  background-color: var(--hover-primary);  
}
.card-img {
  padding-bottom: 10px;
  float: right;
}

.card-name,
.card-username,
.card-url,
.card-id {
  color: var(--front-primary);
  padding: 5px 0;
  text-align: left;
}